* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

html, body {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.logo {
  color: #fe504f;
  font-family: Verdana;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: -1.28px;
}
.logo:hover {
  cursor: pointer;
}

.button {
  padding: 23px 30px;
  background-color: #fe504f;
  color: #ffffff;
  font-size: 20px;
  line-height: 74px;
  border-radius: 35px;
  text-decoration: none;
}
.button:hover {
  background-color: #ff201f;
  transition: all 0.3s ease-in;
}

.passive {
  background-color: #343434;
  margin-left: 30px;
}
.passive:hover {
  background-color: #1d1d1d;
  transition: all 0.3s ease-in;
}

h2 {
  color: #ffffff;
  font-size: 34px;
  font-weight: 700;
  line-height: 58px;
  text-transform: uppercase;
}

h3 {
  color: #343434;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

h4 {
  color: #fe504f;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.item_horizontal-line {
  width: 61px;
  height: 3px;
  background-color: #fe504f;
  margin: 0 auto;
}

.left {
  margin: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  background: linear-gradient(#000000b3, #000000b3), url("../../img/header-bg.png") no-repeat center center;
  background-size: cover;
}

.header__bg {
  position: relative;
  padding-bottom: 355px;
  background: url("../../img/chart.png") no-repeat center bottom;
  background-size: contain;
}

.header__head {
  padding-top: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
}

.navigation__link:not(:last-child) {
  margin-right: 50px;
}

.navigation__link a {
  text-decoration: none;
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  padding: 8px 2px;
  border-bottom: 3px solid transparent;
}
.navigation__link a:hover {
  cursor: pointer;
  border-bottom-color: #fe504f;
}

.header__content h1 {
  color: #ffffff;
  font-family: Verdana;
  font-size: 60px;
  font-weight: 700;
  line-height: 74px;
  max-width: 675px;
  margin-top: 174px;
  margin-bottom: 32px;
}
.header__content p {
  color: #ffffff;
  font-family: Verdana;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  max-width: 514px;
  margin-bottom: 46px;
}

.our__services {
  padding-top: 7px;
  padding-bottom: 22px;
  text-align: center;
}

.services__item {
  width: 211px;
  margin: 0px 35px;
}

.item_heading {
  color: #343434;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 17px;
  margin-bottom: 7px;
}

.item_text {
  color: #aeaeae;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 8px;
  margin-bottom: 57px;
}

.layout-4-column {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.section_heading-text {
  margin-top: 30px;
  margin-bottom: 70px;
}

.contact {
  padding: 112px 0px 96px;
  text-align: center;
  background: linear-gradient(#000000b3, #000000b3), url("../../img/contact/bg-2.png") no-repeat center, url("../../img/contact/bg-1.png") no-repeat center;
  background-size: cover;
}

.button_box {
  margin-top: 42px;
}

.about {
  padding: 80px 0px;
  text-align: center;
}

.about_heading-text {
  color: #afafaf;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 31px auto 76px;
  max-width: 875px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.what {
  flex-basis: 48%;
  text-align: left;
}
.what .what_text {
  color: #343434;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}

.clients {
  flex-basis: 48%;
  text-align: left;
}
.clients .clients_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.clients .clients_box .clients_item {
  flex-basis: 33%;
}
.clients .clients_box .clients_item img {
  width: 100%;
  height: 100%;
}
.clients .clients_box .clients_item:hover {
  cursor: pointer;
}

.team {
  flex-basis: 100%;
  text-align: left;
}
.team .team_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.team .team_box .team_item {
  flex-basis: 16.66%;
  position: relative;
  display: flex;
}
.team .team_box .team_item .team_item-about {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fe504f;
  padding: 20px;
  opacity: 0;
  z-index: -1;
}
.team .team_box .team_item .team_item-about .item-name {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 26px;
}
.team .team_box .team_item .team_item-about .item-line {
  width: 160px;
  height: 1px;
  background-color: #bb3030;
}
.team .team_box .team_item .team_item-about .item-pos .first_pos {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.team .team_box .team_item .team_item-about .item-pos .last_pos {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.team .team_box .team_item:hover {
  cursor: pointer;
}
.team .team_box .team_item:hover .team_item-about {
  z-index: 3;
  opacity: 1;
  transition: all 0.2s ease-in 0s;
}

.strategy {
  padding: 90px 0px 87px;
  text-align: center;
  background: linear-gradient(#000000b3, #000000b3), url("../../img/strategy/bg-2.png") no-repeat center, url("../../img/strategy/bg-1.png") no-repeat center;
  background-size: cover;
}

.heading_text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 28px;
}

.about {
  padding: 80px 0px;
  text-align: center;
}

.about_heading-text {
  color: #afafaf;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 31px auto 76px;
  max-width: 875px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.what {
  flex-basis: 48%;
  text-align: left;
}
.what .what_text {
  color: #343434;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}

.clients {
  flex-basis: 48%;
  text-align: left;
}
.clients .clients_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.clients .clients_box .clients_item {
  flex-basis: 33%;
}
.clients .clients_box .clients_item img {
  width: 100%;
  height: 100%;
}
.clients .clients_box .clients_item:hover {
  cursor: pointer;
}

.team {
  flex-basis: 100%;
  text-align: left;
}
.team .team_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px;
}
.team .team_box .team_item {
  flex-basis: 16.66%;
  position: relative;
  display: flex;
}
.team .team_box .team_item .team_item-about {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fe504f;
  padding: 20px;
  opacity: 0;
  z-index: -1;
}
.team .team_box .team_item .team_item-about .item-name {
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 26px;
}
.team .team_box .team_item .team_item-about .item-line {
  width: 160px;
  height: 1px;
  background-color: #bb3030;
}
.team .team_box .team_item .team_item-about .item-pos .first_pos {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 12px;
  margin-bottom: 5px;
}
.team .team_box .team_item .team_item-about .item-pos .last_pos {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.team .team_box .team_item:hover {
  cursor: pointer;
}
.team .team_box .team_item:hover .team_item-about {
  z-index: 3;
  opacity: 1;
  transition: all 0.2s ease-in 0s;
}

.news {
  padding: 80px 0px;
  text-align: center;
}

.news_heading-text {
  margin-top: 31px;
  margin-bottom: 87px;
  color: #afafaf;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.news_container {
  display: flex;
  justify-content: space-between;
}

.left_column-news {
  flex-basis: 75%;
}

.up_row {
  display: flex;
}
.up_row .news_item_content {
  position: relative;
}
.up_row .news_item_content::before {
  position: absolute;
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background-color: #343434;
  top: 29px;
  left: -18px;
  transform: rotate(45deg);
}

.news_item-foto {
  display: flex;
}

.news_item_content {
  width: 300px;
  background-color: #343434;
  padding: 30px;
  text-align: left;
}
.news_item_content .news_item-title {
  color: #fe504f;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.news_item_content .news_item-text {
  margin-top: 17px;
  margin-bottom: 1px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}
.news_item_content .news_item-date {
  display: flex;
  justify-content: flex-end;
}
.news_item_content .news_item-date span {
  color: #fe504f;
  font-size: 12px;
  line-height: 20px;
  font-style: italic;
}

.down_row {
  display: flex;
}
.down_row .news_item_content {
  position: relative;
}
.down_row .news_item_content::after {
  position: absolute;
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background-color: #343434;
  top: 29px;
  right: -18px;
  transform: rotate(45deg);
}

.right_column-news {
  flex-basis: 25%;
}
.right_column-news .news_item_content {
  position: relative;
}
.right_column-news .news_item_content::after {
  position: absolute;
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  background-color: #343434;
  top: -18px;
  right: 29px;
  transform: rotate(45deg);
}

.contact {
  padding: 112px 0px 96px;
  text-align: center;
  background: linear-gradient(#000000b3, #000000b3), url("../../img/contact/bg-2.png") no-repeat center, url("../../img/contact/bg-1.png") no-repeat center;
  background-size: cover;
}

.button_box {
  margin-top: 42px;
}

.footer_upper {
  background: linear-gradient(#000000cc, #000000cc), url("../../img/footer_upper/bg.png") no-repeat center center;
  background-size: cover;
}

.footer_upper-layout {
  padding: 100px 0px 50px;
  display: flex;
  justify-content: space-between;
}

.left_column {
  flex-basis: 60%;
}

.footer_upper_text {
  max-width: 500px;
  margin-top: 37px;
  margin-bottom: 39px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer_upper-adress_box {
  display: flex;
  margin-top: 40px;
  margin-bottom: 15px;
}

.footer_upper-tel_box {
  display: flex;
  margin-bottom: 15px;
}

.footer_upper-mail_box {
  display: flex;
}

.description {
  margin-left: 15px;
  align-self: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.right_column {
  flex-basis: 40%;
}

.footer_upper_text-over_form {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 25px 0 38px;
}

.form {
  max-width: 445px;
  display: flex;
  flex-direction: column;
}
.form input {
  margin-bottom: 15px;
  padding: 15px;
  height: 45px;
  background-color: transparent;
  border: 1px solid #aeaeae;
}
.form textarea {
  width: 445px;
  background-color: transparent;
  border: 1px solid #aeaeae;
  resize: none;
  margin-bottom: 38px;
  padding: 15px;
  color: #afafaf;
  font-size: 14px;
  font-weight: 400;
}
.form a {
  align-self: flex-end;
  line-height: 24px;
  width: 130px;
  text-align: center;
  font-size: 16px;
  padding: 13px 45px;
}

.footer {
  background-color: #343434;
  padding: 40px;
}

.footer__lower-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.social {
  margin-right: 55px;
  display: flex;
  justify-content: space-between;
}
.social i {
  padding: 0px 14px;
  color: #fe504f;
}
.social i:not(:last-child) {
  border-right: 1px solid #fe504f;
}

/*# sourceMappingURL=style.css.map */
