.button { 
    padding: 23px 30px;
    background-color: #fe504f;
    color: #ffffff;
    font-size: 20px;
    // font-weight: 400;
    line-height: 74px;
    border-radius: 35px;
    text-decoration: none;
    // i {
    //     color: #ffffff;
    // }
}

.passive {
    background-color: #343434;

    margin-left: 30px;
}