.contact {
    padding: 112px 0px 96px;
    text-align: center;
    background: linear-gradient(#000000b3, #000000b3),
                url('../../img/contact/bg-2.png') no-repeat center,
                url('../../img/contact/bg-1.png') no-repeat center;
    background-size: cover;
}

.button_box {
    margin-top: 42px;
}