.footer { 
    background-color: #343434; 
    padding: 40px;
}
.footer__lower-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright { 
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}
.social { 
    margin-right: 55px;
    display: flex;
    justify-content: space-between;
    i {
        padding: 0px 14px;
        color: #fe504f;
        &:not(:last-child) {
            border-right: 1px solid #fe504f ;
        }
    }
}