.footer_upper { 
    background: linear-gradient(#000000cc, #000000cc), 
                url('../../img/footer_upper/bg.png') no-repeat center center;
    background-size: cover;
}
.footer_upper-layout { 
    padding: 100px 0px 50px;
    display: flex;
    justify-content: space-between;
}
.left_column { 
    flex-basis: 60%;
}
.footer_upper_text { 
    max-width: 500px;
    margin-top: 37px;
    margin-bottom: 39px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
.footer_upper-adress_box { 
    display: flex;
    margin-top: 40px;
    margin-bottom: 15px;
}
.footer_upper-tel_box { 
    display: flex;
    margin-bottom: 15px;
}
.footer_upper-mail_box { 
    display: flex;
}
.description { 
    margin-left: 15px;
    align-self: center;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.right_column { 
    flex-basis: 40%;
}
.footer_upper_text-over_form { 
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 25px 0 38px;
}

.form {
    max-width: 445px;
    display: flex;
    flex-direction: column;
    input {
        margin-bottom: 15px;
        padding: 15px;
        height: 45px;
        background-color: transparent;
        border: 1px solid #aeaeae;
    }
    textarea {
        width: 445px;
        background-color: transparent;
        border: 1px solid #aeaeae;
        resize: none;
        margin-bottom: 38px;
        padding: 15px;
        color: #afafaf;
        font-size: 14px;
        font-weight: 400;
    }
    a {
        align-self: flex-end;
        line-height: 24px;
        width: 130px;
        text-align: center;
        font-size: 16px;
        padding: 13px 45px;
        // display: block;
        // height: 40px;
    }
}