.news { 
    padding: 80px 0px;
    text-align: center;
}
.news_heading-text { 
    margin-top: 31px;
    margin-bottom: 87px;

    color: #afafaf;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.news_container { 
    display: flex;
    justify-content: space-between;
}
.left_column-news { 
    flex-basis: 75%;
}
.up_row { 
    display: flex;
    .news_item_content {
        position: relative;
    }
    .news_item_content::before {
        position: absolute;
        content: "";
        display: block;
        width: 35px;
        height: 35px;
        background-color: #343434;
        top: 29px;
        left: -18px;
        transform: rotate(45deg);
    }
}
.news_item-foto { 
    display: flex;
}


.news_item_content { 
    width: 300px;
    background-color: #343434;
    padding: 30px;
    text-align: left;
    .news_item-title { 
        color: #fe504f;
        font-size: 20px;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .news_item-text { 
        margin-top: 17px;
        margin-bottom: 1px;
        color: #ffffff;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }
    .news_item-date { 
        display: flex;
        justify-content: flex-end;
        span {
            color: #fe504f;
            font-size: 12px;
            line-height: 20px;
            font-style: italic;
        }
    }
}



.down_row { 
    display: flex;
    .news_item_content {
        position: relative;
    }
    .news_item_content::after {
        position: absolute;
        content: "";
        display: block;
        width: 35px;
        height: 35px;
        background-color: #343434;
        top: 29px;
        right: -18px;
        transform: rotate(45deg);
    }
}


.right_column-news { 
    flex-basis: 25%;
    .news_item_content {
        position: relative;
    }
    .news_item_content::after {
        position: absolute;
        content: "";
        display: block;
        width: 35px;
        height: 35px;
        background-color: #343434;
        top: -18px;
        right: 29px;
        transform: rotate(45deg);
    }
}